html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: linear-gradient(to right bottom, #476fb6, #008bca, #00a5ce, #00bbc2, #26cfac);
  padding: 40px;
  color: white;
}
